/* SearchResults.module.css */

.resultsContainer {
  margin-top: 16px;
}

.resultsTitle {
  margin-bottom: 16px !important;
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadMoreButton {
  margin-left: 8px;
  margin-bottom: 16px !important;
}

.loadMoreButton .MuiCircularProgress-root {
  margin-right: 8px;
}