/* SearchContainer.module.css */

.resultsTitle {
  margin-bottom: 16px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.alertContainer {
  margin: 16px;
}
  